body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    padding: 10px;
}

header {
    background-color: #007BFF;
    color: white;
    text-align: center;
    padding: 20px;
}

.search-bar {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.search-bar input[type="text"] {
  flex-grow: 1;
  margin-right: 10px;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

form {
    width: 100%;
    max-width: 400px;
    margin-bottom: 20px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

button[type="submit"] {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

li {
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    margin-bottom: 20px;
    border-radius: 5px;
    padding: 20px;
}

li h2 {
    color: #007BFF;
    font-size: 24px;
}

li p {
    color: #6c757d;
    font-size: 18px;
    margin: 10px 0;
}

footer {
    background-color: #007BFF;
    color: white;
    text-align: center;
    padding: 10px;
}

@media (min-width: 768px) {
    /* Styles for tablets and larger screens */
    body {
      padding: 20px;
    }
  
    main {
      flex-direction: row;
      justify-content: center;
    }
  
    form {
      margin-right: 20px;
    }
  
    ul {
      max-width: none;
    }
  }
  
  @media (min-width: 992px) {
    /* Styles for desktop screens */
    main {
      justify-content: flex-start;
    }
  
    form {
      max-width: 400px;
      margin-right: 40px;
    }
  
    ul {
      max-width: 600px;
    }
  }
